/tarea2/ejercicio3/nbproject/private/
/tarea2/ejercicio3/build/
/tarea2/ejercicio4/nbproject/private/
/tarea2/ejercicio4/build/
/tarea2/ejercicio5/nbproject/private/
/tarea2/ejercicio5/build/
/Class/Nueva Carpeta/practica switch/nbproject/private/
/Class/Nueva Carpeta/practica switch/build/